   
<div class="container body-content">

    <h1>@ViewBag.title</h1>

    @{
        //TODO #1: Use a loop to display job results in a table.
    }

    <table class="job-listing">

        <tr>
            <th scope="col">Jobs matching your search</th>
        </tr>

        
            @foreach (var job in ViewBag.jobs)
            {
                <tr>
                    <td>
                        ID: @job.Id<br />
                        Name: @job.Name<br />
                        Employer: @job.Employer<br />
                        Location: @job.Location<br />
                        Position Type: @job.PositionType<br />
                        Skill: @job.CoreCompetency

                    </td>
                </tr>
            }
        
    </table>


</div>